@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #05E8BA, #087EE1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

body {
  background-color: #000300;
}

code {
  color: #ff0000;
}
